@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root{
    --light-color:#fff;
    --dark-color:#000;
    --primary-color:rgb(22, 46, 177);
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:"Fira Sans",sans-serif;
    color:var(--light-color);
    line-height:1.6;  
    
}
button{
    border:var(--light-color) solid 3px;
    border-radius: 10px;
    background:none;
    color:var(--light-color);
    font-size:2rem;
    margin:20px 50px;
    padding:20px;
    width:200px;
    height:100px;
}
.buttongroup{
    
}
.page h1{
    color:var(--light-color);
    margin:30px;
    font-size: 3rem;
}
.content #ip{
    height:40px;
    width:300px;
    background-color: black;
    border: var(--light-color) solid 3px;
    margin:50px 10px;
    font-size: 1rem;
    color:var(--light-color);
}
.content #ip:focus{
    outline: 0;
    caret-color: var(--light-color);
    transform: scale(0.98);
}